<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD VUE.js</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">{{ message}} <br> 
        <input type="text" v-model="UserMessage" v-on:keyup.enter="addComment"/> <!-- "v-on:keyup.enter" kısmını "@keyup.enter" şeklinde de yazılabilir. -->
        <button @click="addComment">Mesajı Ekle</button>
       
        <!-- <h2>{{ UserMessage }}</h2>    Alt + Shift + A (Comment Line Shortcut)--> 
    
        <ul>
            <li v-for="comment in allUserComment"> <!-- Bildiğin for döngüsünü cümle kurar gibi yazdık. -->
                {{comment}}
            </li>
        </ul>

    </div>
    

    <script>
        const { createApp } = Vue
      
        createApp({
          data() {
            return {
              message: 'Hello Vue!',
              UserMessage: "",
              allUserComment: [
                "Vue is the best js framework!",
                "Vue ile neler yapabilirim?",
                "Vue and CRUD operations."
              ]
            }
          },
          methods: {
            addComment: function(){
                this.allUserComment.push(this.UserMessage)
            }

          }
        }).mount('#app')
      </script>
</body>
</html>